<app-header></app-header>
<div class="dashboard-content">
    @if (selectedSite) {
    <app-site-info [siteInfo]="selectedSite.site"></app-site-info>
    <div class="scroll-panel" appScrollToBottom>
        <table>
            <thead class="sticky-header">
                @for (colName of selectedSite.features; track $index) {
                <th>{{ colName }}</th>
                }
            </thead>
            @for (row of selectedSite.rows; track $index) {
            <tr>
                @for (val of row; track $index) {
                <td>{{ val }}</td>
                }
            </tr>
            }
        </table>
    </div>
    } @else {
    <div id="location-select">
        <app-site-select (selectedSite)="siteSelected($event)" />
        or Create a New Site<br /><br />
        <app-site-create (siteCreated)="siteSelected($event)" />
    </div>
    }
</div>
