.alert {
    width: 32px;
    height: 32px;
    animation: alert-pulse 2s ease-in-out 0s infinite;
    content: url("../../../../assets/res/siren_alert.png");
}

@keyframes alert-pulse {
    to {
        content: url("../../../../assets/res/siren_off.png");
    }
}

.no-alert {
    width: 32px;
    height: 32px;
    content: url("../../../../assets/res/siren_ok.png");
}

#alert-container {
    display: grid;
    place-content: center;
    height: 100%;
    padding-right: 4px;
}
