:host {
    display: grid;
    grid-template-columns: 1fr;
    overflow: hidden;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    overflow: hidden;
}

@media screen and (max-width: 900px) {
    :host {
        grid-template-columns: 1fr;
    }
}
