<h2>Site Info</h2>
@if (siteInfo) {
<h3>
    {{ siteInfo.SiteCode || "unknown code" }}
    {{ siteInfo.SiteName || "unknown name" }}
</h3>
<p>{{ siteInfo.SiteDescription.SiteNotes || "unknown description" }}</p>
<p>
    LatLng:
    {{
        siteInfo.SiteDescription.Latitude +
            ":" +
            siteInfo.SiteDescription.Longitude || "unknown LatLng"
    }}
</p>
<p>
    Elevation: {{ siteInfo.SiteDescription.Elevation || "unknown elevation" }}
</p>
<p>Site Type: {{ siteInfo.SiteDescription.SiteType || "unknown site type" }}</p>
<p>
    Vertical Datum:
    {{ siteInfo.SiteDescription.VerticalDatum || "unknown vertical datum" }}
</p>
<select>
    <option selected disabled hidden>Select a variable to see details</option>
    @for (option of siteInfo.VariableInfo; track $index) {
    <option>{{ option.VariableName }}</option>
    }
</select>
}
